main nav .navegacao li{
    padding:30px;

}

main .lista .navegacao li a{
    color: #757575;
    font-size: 20px;
    
}

main .lista .navegacao{
    display: flex;
    justify-content: space-between;

}
main .lista .navegacao{
    background-color: #fff;
    margin-top: 0px;
}
main{
    background-color:#f2f2f2;
}

nav .active{
    border-bottom: 2px solid #EF5350;
}

main .capa{
    height: 400px;
}

main .card-conteudo{
    display: flex;
    justify-content: space-between;

}

main .card-conteudo .conteudo{
    color:#757575;
}

main .card-conteudo .conteudo h2, main .card-conteudo .conteudo h6{
    font-weight: normal;
    margin-left: 30px;
}

main .card-conteudo .acoes{
    padding-top: 25px;
    padding-right: 20px;
}

main .acoes .like{
    margin-left: 10px;
}

main .acoes img{
    width:15px;
}

main .fotos{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

main .fotos .image .primeira{
    height: 250px;
}

main .fotos .image .segunda{
    height: 250px;;
}

main .fotos .image .body {
    padding: 0 30px;
}

main .fotos .image .body h4{
    font-size: 20px;
}

main .fotos .image .body h6{
    font-size: 16px;
}

main .fotos .image .body h4, main .fotos .image .body h6{
    color:#757575;
    font-weight: normal;
  
}

@media (max-width:1024px) {
    main .fotos .image .primeira{
        height: 230px;
    } 

    main .fotos .image .segunda{
        height: 230px;
    }
}



@media (max-width:768px) {
    main .fotos{
        grid-template-columns: 1fr 1fr;
    }

    main .fotos .image .body h4{
        font-size: 18px;
    }


    main .fotos .image .body h6{
        font-size: 14px;
    }

}




@media (max-width:425px) {
    main .lista .navegacao li a{
        font-size: 18px;
    }

    main nav .navegacao li{
        padding:20px 5px 20px 5px;
    }

    main .fotos{
        padding: 30px 5px 10px 5px;
    }

    main .fotos .image .primeira{
        height: 150px;
    }

    main .fotos .image .segunda{
        height: 150px;
    }

    main .fotos .image .primeira .video-icone{
        width: 20px;
    }
    
    main .fotos .image .segunda .video-icone{
        width: 20px;
    }

    main .fotos .image .body h4{
        font-size: 12px;
    }


    main .fotos .image .body h6{
        font-size: 10px;
    }

}

@media(max-width:425px) {
    main .card-conteudo .conteudo h2, main .descricao .conteudo h6{
        font-size: 22px;
    }

  main .card-conteudo .acoes{
        display: flex;
    }

    main .acoes img{
        height: 13px;
    }
}

@media (max-width:375px) {
    main .fotos .image .primeira{
        height: 120px;
    }
    main .fotos .image .segunda{
        height: 120px;
    }
}

@media (max-width:320px) {
    main .lista .navegacao li a{
        font-size: 15px;
    }
    main nav .navegacao li{
        padding:15px 5px 15px 5px;
    }

    main .fotos .image .primeira{
        height: 100px;
    }
    main .fotos .image .segunda{
        height: 100px;
    }
}

