main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px;
    padding-top:20px;
    padding-left: 20px;
    padding-right: 20px;
}

main .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: 100%;
    height: 250px;
    padding: 20px 5px 30px 5px;
    background-color: #EF5350;
    color:#ffffff;
}

main .card img{
    height: 100px;
    width: 100px;
}

main .card h2, main .card h6{
    line-height: 16px;
    font-weight: normal;
}

main .card h2{
    margin-bottom: 0px;
    font-size: 25px;
}

main .card h6{
    margin-bottom: 40px;
    font-size: 15px;
}

main .card a button{
    height: 30px;
    width: 100px;
    background-color: #EF5350;
    border: 2px solid #ffffff;
    color:#ffffff;
    border-radius: 12px;
}


@media (max-width:1024px) {
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    main .card{
        height: 250px;
    }
}

@media (max-width:425px) {
    main{
        grid-template-columns: 1fr 1fr;
    }

    main .card h2{
        font-size: 20px;
    }

    main .card h6{
        font-size: 12px;
    }
}

@media (max-width:375px) {
    main .card h2{
        font-size: 18px;
    }

    main .card h6{

    }
}

@media (max-width:322px) {
    main .card h2{
        font-size:16px;
    }
}