*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:#f2f2f2;
    margin: 0;
    padding: 0;
}



.page-container{
    display: flex;
    flex-direction: column;
}

.pagina {
    display: flex;
    min-height: calc(100vh - 70px);

}

header{
    height: 70px;
    background-color: #EF5350;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 40px;
}

.icone{
    display: none;
}

.page-container header h1{
    color: #fff;
    font-weight: normal;
    font-size: 30px;
}

aside{
    width: 300px;
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EF5350;

}

.imagem-de-perfil{
    height: 100px;
    width: 100px;
}

nav ul li{
    list-style: none;

}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
}

aside h1, aside h3{
    color:#ffffff;
    font-weight: normal;
}

aside h1{
    font-size: 25px;
    margin-top: 5px;

}

aside h3{
    margin-bottom: 50px;
    font-size: 15px;
    margin-top: 0px;
}

nav ul{
    padding-inline-start: 0px;
}

nav ul li img{
    height: 15px;
    margin-right: 20px;
}

nav ul li{
    margin-bottom: 30px;
}

main{
    width: calc(100vw - 300px);
    background-color:#f2f2f2;
}









@media (max-width:1024px) {
    header{
        justify-content: space-between;
    }

    .icone{
        display: block;
        padding: 40px 0px;
    }

    aside{
        display: none;
    }
    main{
        width:100%;
    }

}

@media (max-width:425px) {
    header{
        padding: 0px 20px;
    }

    header h1{
        font-size: 18px !important;
    }

    header .icone {
        height: 12px;
    }
}
