
main {
    display: flex;
    flex-direction: column;
}

main .capa{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image: url(../images/capa.png);
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}


main .capa h1, main .capa h3{
    color: #fff;
    line-height: 5px;
    font-weight: normal;
    padding-left: 40px;
}

main .capa h3{
    margin-bottom: 70px;
}

main .informacoes-container{
    display:flex ;
    justify-content: center;
}

main .informacoes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 100px;
    font-size: 25px;
    line-height: 3px;
    border-radius: 12px;
    margin: -40px 300px 0px 300px;
    background-color:#EF5350;
    color:#fff;
}

main .informacoes h6{
    font-weight: normal;
}

main .fotos{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding:30px 30px 0px 30px;
}

main .fotos .card-de-perfil .primeiro-card{
    height: 250px;
}

main .fotos .card-de-perfil .segundo-card{
    height: 250px;
}

main .fotos .card-de-perfil .body {
    padding: 0 30px;
}

main .fotos .card-de-perfilge .body h4{
    font-size: 20px;
}

main .fotos .card-de-perfilage .body h6{
    font-size: 16px;
}

main .fotos .card-de-perfil .body h4, main .fotos .card-de-perfil .body h6{
    color:#757575;
    font-weight: normal;
}


@media (max-width:1024px) {
    main .informacoes{
        width: 600px;
    }

    main .fotos .card-de-perfil .primeiro-card{
        height: 230px;
    } 

    main .fotos .card-de-perfil .segundo-card{
        height: 230px;
    } 
}

@media (max-width:768px) {
    main .informacoes .likes, main .informacoes .followers{
        padding: 0px 50px;
    }
    main .fotos{
        grid-template-columns: 1fr 1fr;
    }

    main .fotos .card-de-perfil .body h4{
        font-size: 18px;
    }


    main .fotos .card-de-perfil .body h6{
        font-size: 14px;
    }
}

@media (max-width:425px) {
    main .informacoes .likes, main .informacoes .followers{
        padding: 0px 40px;
    }

    main .fotos{
        padding: 30px 5px 10px 5px;
    }

    main .fotos .card-de-perfil .primeiro-card{
        height: 150px;
    }

    main .fotos .card-de-perfil .segundo-card{
        height: 150px;
    }

    main .fotos .card-de-perfil .body h4{
        font-size: 12px;
    }


    main .fotos .card-de-perfil .body h6{
        font-size: 10px;
    }
}

@media (max-width:375px) {
    main .informacoes .likes, main .informacoes .followers{
        padding: 0px 30px;
    }

    main .fotos .card-de-perfil .primeiro-card{
        height: 120px;
    }

    main .fotos .card-de-perfil .segundo-card{
        height: 120px;
    }
}

@media (max-width:320px) {
    main .fotos .card-de-perfil .primeiro-card{
        height: 100px;
    }

    main .fotos .card-de-perfil .segundo-card{
        height: 100px;
    }

    main .informacoes .likes, main .informacoes .followers{
        padding: 0px 20px;
    }
}
