*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    padding:0px;
    margin:0px;
}


main{
    background-image: url(../images/login.cadastro.png);
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100vw;
    height: 100vh; 
    border-radius: 5px ;
    border: 1px solid #979797;
    box-sizing: border-box;
}

.fundo{
    height: 100vh;
    position: absolute;
    background: rgba(113, 52, 145, 0.72);
}

.topo{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: 65px;
    margin-bottom: 10px;
    font-size: 15px;
}

.topo h1{
    font-weight: normal;
    color:#ffffff;
}

.conteudo{
    display: flex;
    flex-direction: column;
}

.conteudo form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

.conteudo form input{
    width: 280px;
    height: 42px;
    font-size: 17px;
    margin-top: 5px;
    text-align: center;
    color:rgba(255, 255, 255, 0.72);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #EF5350;
}

input::placeholder{
    color: #ffffff;
}

button{
    width: 280px;
    height: 42px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 55px;
    border-radius: 50px;
    border: none;   
    color:#ffffff;
    background-color:#EF5350;
}

.icone{
    width: 15px;
}

.link{
    font-size: 12px;
    text-decoration: none;
    margin-top: 30px;
    color:#ffffff;
}
