main nav .navegacao li{
    padding:30px;
}

main .lista .navegacao li a{
    color: #757575;
    font-size: 20px;
}

main .lista .navegacao{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
}

main{
    background-color:#fdfdfd;
}

nav .active{
    border-bottom: 2px solid #EF5350;
}

main .videos{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: -40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}

main .videos .card-de-perfil .primeiro-card{
    height: 250px;
}

main .videos .card-de-perfil .segundo-card{
    height: 250px;
}

main .videos .card-de-perfil .body {
    padding: 0 30px;
}

main .videos .card-de-perfil .body h4{
    font-size: 20px;
}

main .videos .card-de-perfil .body h6{
    font-size: 16px;
}

main .videos .card-de-perfil .body h4, main .videos .card-de-perfil .body h6{
    color:#757575;
    font-weight: normal;
}


@media (max-width:1024px) {
    main .videos .card-de-perfil .primeiro-card{
        height: 230px;
    } 

    main .videos .card-de-perfil .segundo-card{
        height: 230px;
    }
}


@media (max-width:768px) {
    main .videos{
        grid-template-columns: 1fr 1fr;
    }

    main .videos .card-de-perfil .body h4{
        font-size: 18px;
    }

    main .videos .card-de-perfil .body h6{
        font-size: 14px;
    }
}


@media (max-width:425px) {
    main .videos {
        margin-top: -40px;
    }
    main .lista .navegacao li a{
        font-size: 18px;
    }

    main nav .navegacao li{
        padding:20px 5px 20px 5px;
    }

    main .videos{
        padding: 30px 5px 10px 5px;
    }

    main .videos .card-de-perfil .primeiro-card{
        height: 150px;
    }

    main .videos .card-de-perfil .segundo-card{
        height: 150px;
    }

    main .videos .card-de-perfil .body h4{
        font-size: 12px;
    }

    main .videos .card-de-perfil .body h6{
        font-size: 10px;
    }
}

@media (max-width:375px) {
    main .videos .card-de-perfil .primeiro-card{
        height: 120px;
    }

    main .videos .card-de-perfil .segundo-card{
        height: 120px;
    }
}

@media (max-width:320px) {
    main .lista .navegacao li a{
        font-size: 15px;
    }
    
    main nav .navegacao li{
        padding:15px 5px 15px 5px;
    }

    main .videos .card-de-perfil .primeiro-card{
        height: 100px;
    }
    main .videos .card-de-perfil .segundo-card{
        height: 100px;
    }
}

