main{
    background-color:#ffffff;
}

main .capa{
    height: 400px;
}

main .informacoes-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 0px 30px;
}

main .informacoes-container .informacao{
    display: flex;
    align-items: center;
    color:#757575;
}

main .informacoes-container .informacao img{
    height: 120px;
    width: 120px;
}

main .informacoes-container .informacao h2, main .informacoes-container .informacao h6{
    font-weight: normal;
    margin-left: 20px;
    line-height: 0px;
}

main .informacoes-container .informacao h2{
    font-size: 25px;
    margin-top: 50px;
}

main .informacoes-container .informacao h6{
    font-size: 20px;
}

main .informacoes-container button{
    border-radius: 40px;
    font-size: 18px;
    width: 150px;
    height: 33px;
    border: solid 2px #EF5350;
    background-color: #fff;
    color:#EF5350;
}

main .videos{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}

main .videos .card-de-perfil .primeiro-card{
    height: 250px;
}

main .videos .card-de-perfil .segundo-card{
    height: 250px;
}

main .videos .card-de-perfil .body {
    padding: 0 30px;
}

main .videos .card-de-perfil .body h4{
    font-size: 20px;
}

main .videos .card-de-perfil .body h6{
    font-size: 16px;
}

main .videos .card-de-perfil .body h4, main .videos .card-de-perfil .body h6{
    color:#757575;
    font-weight: normal;
}


@media (max-width:1024px) {
    aside{
        display: flex;
        position: absolute;
        width: 300px;
    }

    main .videos .card-de-perfil .primeiro-card{
        height: 230px;
    } 

    main .videos .card-de-perfil .segundo-card{
        height: 230px;
    }
}


@media (max-width:768px) {
    main .informacoes-container button{
        width: 150px;
    }

    main .informacoes-container .informacao img{
        height: 80px;
        width: 80px;
    }

    main .videos{
        grid-template-columns: 1fr 1fr;
    }

    main .videos .card-de-perfil .body h4{
        font-size: 18px;
    }

    main .videos .card-de-perfil .body h6{
        font-size: 14px;
    }
}


@media (max-width:425px) {
    main .capa{
        height: 350px;
    }

    main .informacoes-container{
        padding: 10px 25px;
    }

    main .informacoes-container .informacao{
        align-items: center;
    }

    main .informacoes-container .informacao img{
        height: 70px;
        width: 70px;
    }

    main .informacoes-container .informacao h2 {
        font-size: 18px;
        margin-left:20px;
    }

    main .informacoes-container .informacao h6{
        font-size: 15px;
        margin-left: 20px;
    }

    main .informacoes-container button{
        width: 120px;
        height: 30px;
        font-size: 15px;
    }

    main .informacoes-container{
        padding-top: 15px;
    }
    
    main .videos{
        padding: 30px 5px 10px 5px;
    }

    main .videos .card-de-perfil .primeiro-card{
        height: 150px;
    }

    main .videos .card-de-perfil .segundo-card{
        height: 150px;
    }

    main .videos .card-de-perfil .body h4{
        font-size: 12px;
    }

    main .videos .card-de-perfil .body h6{
        font-size: 10px;
    }
}


@media (max-width:375px) {
    main .capa{
        height: 300px;
    }

    main .informacoes-container .informacao img{
        height: 60px;
        width: 60px;
    }

    main .informacoes-container button{
        width: 100px;
        height: 25px;
    }

    main .videos .card-de-perfil .primeiro-card{
        height: 120px;
    }

    main .videos .card-de-perfil .segundo-card{
        height: 120px;
    }
}


@media (max-width:320px) {
    aside{
        width: 250px;
    }

    main .capa{
        height: 250px;
    }

    main .informacoes-container{
        padding-left: 5px;
    }

    main .informacoes-container .informacao img{
        height: 50px;
        width: 50px;
    }

    main .informacoes-container .informacao h2{
        font-size: 15px;
        margin-left: 10px;
    }

    main .informacoes-container .informacao h6{
        font-size: 12px;
        margin-left: 10px;
    }

    main .informacoes-container button{
        height: 25px;
    }

    main .videos .card-de-perfil .primeiro-card{
        height: 100px;
    }

    main .videos .card-de-perfil .segundo-card{
        height: 100px;
    }
}