*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-image: url("../images/welcome.png");
    background-repeat: no-repeat;
    background-size: cover;   
}

.topo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 46px;
}

button{
    width: 280px;
    height: 42px;
    font-size: 17px;
    margin-bottom: 5px;
    border-radius: 50px;
    color:#ffffff;
    background-color:#EF5350;
    
    border: none;
    cursor: pointer;
}


.conteudo{
    text-align: center;
    color: #ffffff;
    padding-bottom: 78px;
}

.conteudo h1{
    font-weight: normal;
    line-height: 60px;
}

.conteudo p{
    font-size: 20px;
    margin-top: 40px;
}

.circulos{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.circulo{
    width: 5px;
    height: 5px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: #cccccc;
    
}

.active{
    width: 5px;
    height: 5px;
    margin-right: 4px;
    border-radius: 50%;
    background-color:#EF5350;
    
}

